<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm" (ngSubmit)="submit(f)">

        <div class="form-group">
          <label for="email">Email *</label>
          <input
            id="email"
            name="email"
            ngModel
            required
            email
            class="form-control"
            #email="ngModel"
          >
        </div>
        <span
          class="help-block"
          *ngIf="!email.valid && email.touched"
        >Email must not be empty</span>


        <div class="form-group">
          <label for="subscriptionType">Subscription Type</label>
          <select
            id="subscriptionType"
            name="subscriptionType"
            class="form-control"
            [ngModel]="defaultSubscriptionType"
          >
            <option
              *ngFor="let sType of subscriptionTypes"
              value="sType"
            >{{sType}}</option>
          </select>
        </div>


        <div class="form-group">
          <label>
            Password *
            <input
              type="password"
              name="password"
              ngModel
              required
              #password="ngModel"
            >
          </label>
        </div>

        <span
          class="help-block"
          *ngIf="!password.valid && password.touched"
        >Please state a password</span>

        <span
          class="help-block"
          *ngIf="!f.valid && f.touched"
        >Form is invalid</span>

        <p style="float: right"><em>* = required</em></p>

        <button style="margin-top: 2em; display: block" type="submit" class="btn btn-primary">Submit</button>

        <div *ngIf="formStatePrint">
          <hr>
          <h3>Result:</h3>
          <div>{{formStatePrint}}</div>
        </div>

      </form>
    </div>
  </div>
</div>
