<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Connect form element with FormGroup -->
      <form
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
      >
        <div formGroupName="userData"><!-- tells NG to use a node inside the form state object as base  -->
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
            <span
              *ngIf="signupForm.get('userData.username').touched &&
            signupForm.get('userData.username').invalid"
              class="help-block">Please enter a valid Username</span>
            <span
              *ngIf="signupForm.get('userData.username').errors?.nameIsForbidden"
              class="help-block">Username {{signupForm.get('userData.username').value}} is forbidden</span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
            >
            <span
              *ngIf="signupForm.get('userData.email').touched &&
            signupForm.get('userData.email').invalid"
              class="help-block">Please enter a valid Email</span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>

        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button class="btn btn-default"
                  type="button"
                  (click)="onAddHobby()"
          >Add Hobby</button>

          <div
            class="form-group"
            *ngFor="let hControl of hobbieControls; let i = index"
          >
            <input
              type="text"
              class="form-control"
              [formControlName]="i"
            >
          </div>

        </div>

        <button [disabled]="signupForm.invalid"
                class="btn btn-primary"
                type="submit"
        >Submit</button>
      </form>
    </div>
  </div>
</div>
